<input type="checkbox" id="sidebartoggler" >

<div class="page-wrap">
 	<label for="sidebartoggler" class="toggle"></label>
  <main class="page-content">
    <header>
      <h1>
        Write Interesting Stories
      </h1>
      <a href="#" class="btn btn-default">Learn more</a>
    </header>
    <section class="supporting">
      <h2>
        Have Avid Readers Flock to your Stories
      </h2>
      <p>
        The reading world is waiting for you!
      </p>
    </section>
    <section class="secondary"></section>
    <section class="discover">
      <h3>
        Discover more stories!
      </h3>
      <a href="#" class="btn btn-default">Learn more</a>
    </section>
    <footer>&copy Stories</footer>
  </main>

  <nav class="sidebar">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </nav>
</div>